

.main {
    /* background-image: url("../images/main_foto.png"); */
    background-image: url("../images/Main\ Page.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1585px;
    max-height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: auto;
    }


/* Header Styles */
.header {
    /* background-color: #131722;  */
    padding: 20px 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

/* Navbar Styles */
.navbar {
    width: 75%; 
    max-width: 1200px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
    
    
/* Linkly Logo */
.main-logo{
    width: 110;
    height: 46;
    font-family: Inter;
    font-size: 26px;
    font-weight: bold;
    color: #741993;
    
}


/* Buttons*/
    
/* Login Button */
.btn-login {
    width: 104.1875px;
    height: 48px;
    border-radius: 19px;
    border-width: 1px;
    color: #ffffff;
    border: 1px solid #3d3737;
    box-shadow: 0px 8px 25px 0px #1b1b1b1a;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    background-color: #181E29;

    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #625f5f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

}

/* Login button Hover */
.btn-login:hover {
    background-color: #333;
    color: #007bff;
}



/* Register Button */
.btn-register {
    width: 130.1875px;
    height: 48px;
    border-radius: 19px;
    border-width: 1px;
    color: #ffffff;
    border: 1px solid #144EE3;
    box-shadow: 10px 9px 22px 0px #144EE361;
    text-decoration: none;
    font-weight: 500;
    background-color: #144EE3;

    padding: 10px 5px; 
    border-radius: 50px;
    border: 1px solid #625f5f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-left: 10px;
}

/* Register button Hover */
.btn-register:hover{
    background-color: #ffffff;
    color: #007bff;
}



/* Login Text */
.login-text{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;

}

/* Register Text */
.register-text{
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}




            /* Icons*/

/* Login icon */
.login-icon {
    margin-left: 7px;
}

/* R icon */
.r-icon {
    color: rgb(69, 67, 67);
}
    


.text-center {
    text-align: center; /* Center text horizontally */
    width: 100%; /* Full width */
    display: flex; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 60px; /* Set font size */
    font-weight: bold;
    background: linear-gradient(90deg, #ff007f, #5a54ff);
    -webkit-background-clip: text;
    color: transparent;
    margin: 25px auto auto auto; /* Top and bottom margin */
    line-height: 1.3; /* Enough space for descenders */
    padding: 10px 0; /* Extra padding for safety */
    height: auto; /* Allow the element to expand */
    min-height: 90px; /* Make sure it has enough height */
    overflow: visible; /* Ensure text isn't clipped */
}





.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.p-text{
    width: 600px;
    color: #C9CED6;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Input container */
.input-container {
    display: flex;
    align-items: center;
    background:  #0D1117 inset;
    padding: 6px 6px 6px 15px;
    border-radius: 40px;
    border: 1px solid white;
    width: 600px;
    height: 65px;
    line-height: 1.9;
    box-shadow: 0 0 8px rgba(0, 102, 255, 0.5);
    transition: all 0.3s;

}

.input-container:hover {
    transform: scale(1.02); /* Smaller hover effect */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Softer shadow */
}

.input-container input:hover {
    backdrop-filter: blur(8px); /* Slightly more blur on hover */
}


input[type="text"]:-webkit-autofill,
input[type="url"]:-webkit-autofill {
    background-color: #0D1117 !important; /* Match your dark theme */
    color: #fff !important;
    /* box-shadow: 0 0 0px 1000px #444 inset !important; */
    -webkit-text-fill-color: #fff !important;
    border: 1px solid #333;
    border: none;
    transition: background-color 5000s ease-in-out 0s;
}


/* Icon inside the input */
.icon {
    color: #888;
    margin-right: 10px;
}

/* Input field */
.url-input {
    flex: 1;
    padding: 8px;
    background: transparent;
    backdrop-filter: blur(5px); /* Blur effect */
    transition: all 0.3s ease-in-out;
    border: none;
    color: #C9CED6;
    outline: none;
}


/* Shorten Button */
.shorten-btn {
    background: #0066ff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    width: 120px;
}

/* Button Hover Effect */
.shorten-btn:hover {
    background: #004bcc;
}

.center-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

#shortenedLink{
    width: 600px;
    font-size: 14px;
    color: #C9CED6;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}
.zero_five{
    color: #ff007f;
}

.text-center_short{
    font-size: 14px !important;
    margin-top: 5px;
}

/*      ---------------------------------------------------------------> */


.container{
    width: 1000px;
}

#myTable {
    table-layout: fixed;
    width: 100%;
    border: none;
}

#myTable th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(82, 78, 78, 0.3) !important;
    backdrop-filter: blur(10px); /* Adds the blurred effect */
    color: whitesmoke;
    padding: 20px  20px !important;
    border:  none;
}

#myTable td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: whitesmoke;
    padding-top: 15px;
    background: rgba(20, 20, 30, 0.6); /* Dark semi-transparent */
    backdrop-filter: blur(10px); /* Adds the blurred effect */
    padding-left: 20px !important;
    align-items: center;
    border: none;
}


/* Define specific widths for each column */
th:nth-child(1), td:nth-child(1) { width: 20%; }
th:nth-child(2), td:nth-child(2) { width: 30%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }
th:nth-child(4), td:nth-child(4) { width: 10%; }
th:nth-child(5), td:nth-child(5) { width: 10%; }
th:nth-child(6), td:nth-child(6) { width: 10%; }


.fab.fa-youtube { color: red; font-size: 22px; margin-right: 4px;}
.fab.fa-telegram { color: #0088cc; font-size: 22px; margin-right: 4px;}
.fab.fa-linkedin { color: #0077b5; font-size: 22px; margin-right: 4px;}
.fab.fa-github { color: black; font-size: 22px; margin-right: 4px;}
.fab.fa-instagram { color: #E1306C; font-size: 22px; margin-right: 4px;}
.fab.fa-twitter { color: #0077b5; font-size: 22px; margin-right: 4px;}

/* --------------------------------------------------------last-bottom-button */

.btn_lastrow{
    width: 100%;
    height: 70px;
    padding: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -85px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(1.5px); 
    /* -webkit-backdrop-filter: blur(10px);  */
    border-radius: 5px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

#btn_toggle {
    color: #0066ff;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
}
#btn_toggl {
    color: white;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;

}


/* -------login-----style-------------- */

.login-btn {
    margin: 20px;
}
.login-modal {
    width: 100%;
    padding: 20px;

}
.form-group {
    margin-bottom: 15px;
}
.form-label{
    color: white;
}
.forgot-password {
    float: right;
    text-decoration: none;
}
.sign-up {
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    padding-bottom: 10px; /* Adjusted padding */
}
.jconfirm-box {
    background: #0d0f1a !important;
    overflow-x: hidden;
    width: 600px !important;
    border: #ffffff solid 2px;
    border-radius: 5px;
}
.swal2-container {
    z-index: 99999 !important;
}



/* share icons */

.container_short {
max-width: 600px;
margin: 50px auto;
padding: 20px;
border: 2px solid white;
border-radius: 15px;
background-color:  #0D1117;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
display: none;
}
.short_text {
color: #9c6bfa;
text-align: center;
margin-bottom: 18px;
}

.share_link_short{
margin-right: 5px;
background:  #0D1117 !important;
border: none !important;
}

.copy_link_short{
background:  #0D1117 !important;
border: none !important;
}

.short-url-box {
display: flex;
justify-content: space-between;
align-items: center;
background-color:  #0D1117;
padding: 10px;
border:  1px solid white;
border-radius: 10px;
margin-bottom: 20px;
}
.short_link1 {
border: none;
background-color:  #0D1117;
color: white;
width: 100%;
outline: none;
margin-right: 10px;
align-items: center;
margin-top: 10px;

}

.visible_link{
    display: none;
}


.share-buttons {
display: flex;
justify-content: center;
gap: 15px;
padding: 10px;
margin-bottom: 10px;
border: 1px solid white;
border-radius: 10px;
height: 70px;
padding: 12px;
}

/* Ensure uniform icon size and proper centering */
.share-buttons a {
display: inline-flex; /* Use inline-flex for proper spacing */
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 10px;
font-size: 24px;
color: #fff;
transition: all 0.3s;
text-decoration: none; /* Avoid underline on links */
}

.share-telegram {
background-color: #0088cc;
}

.share-facebook {
background-color: #3b5998;
}

.share-instagram {
background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}

/* Hover effect */
.share-buttons a:hover {
transform: scale(1.1);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-center_short {
font-size: 12px;
color: beige;
text-align: center;
}